.wrapper {
  /* margin-top: 10vh; */
  /* height: 90vh; */
  /* border-top: 2px #daf6ff solid; */
  height: 90vh;
  overflow: hidden;
}

.display-container {
  /* flex: 7; */
  height: 80vh;
  overflow-y: scroll;
}

.chatting-list li {
  list-style: none;
}
ul {
  padding: 0;
  list-style-type: none;
}
.chatting-list {
  color: #daf6ff;
  display: flex;
  flex-direction: column;
}
.tag {
  color: #5df0a9;
}
.tag-type {
  color: #48aed0;
}
.attribute {
  color: #5df0a9;
}
.equal {
  color: #f15656;
}
.user {
  color: #f2b15c;
}
.message {
  padding-left: 50px;
}
.input-container {
  flex: 1;
}
.chatting-input {
  border: none;
  background: transparent;
  color: #daf6ff;
  width: 100%;
  margin-top: 20px;
}
.sent {
  display: flex;
  flex-direction: column;
  width: max-content;
  align-self: end;
}
