.wrapper {
  /* margin-top: 200px; */
  /* height: 80vh; */
  margin-top: 10vh;
  border: 1px solid red;
  height: 90vh;
  /* background: red; */
}

.display-container {
  flex: 9;
  height: 100%;
  overflow-y: scroll;
}

.chatting-list li {
  list-style: none;
}
ul {
  padding: 0;
  list-style-type: none;
}
.chatting-list {
  color: #daf6ff;
  display: flex;
  flex-direction: column;
}
.tag {
  color: #5df0a9;
}
.tag-type {
  color: #48aed0;
}
.attribute {
  color: #5df0a9;
}
.equal {
  color: #f15656;
}
.user {
  color: #f2b15c;
}
.message {
  padding-left: 50px;
}
.input-container {
  flex: 1;
}

.received {
  display: flex;
  flex-direction: column;
  width: max-content;
  /* flex-direction: row-reverse; */
  align-self: end;
}
